# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# for syntax. Order matters: the last matching pattern wins.

* @jeffbadger
