<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- UiPath's official feed hosts the activities SDK packages
         (UiPath.Workflow, System.Activities.ViewModels, UiPath.Activities.Api). -->
    <add key="UiPath-Official" value="https://pkgs.dev.azure.com/uipath/Public.Feeds/_packaging/UiPath-Official/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>